/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    font-family: Alexandria, sans-serif;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */

  @font-face {
    font-family: Alexandria;
    font-weight: 400;
    src: url(fonts/Alexandria-Regular.ttf);
  } 
  @font-face {
    font-family: Alexandria;
    font-weight: bold;
    src: url(fonts/Alexandria-Bold.ttf);
  } 
  @font-face {
    font-family: Alexandria;
    font-weight: lighter;
    src: url(fonts/Alexandria-Light.ttf);
  } 

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Alexandria, sans-serif;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  /* common styles */

  

  h1 {
    font-size: 36px;
    color: #ffc612;
  }

  body

/* Andrew's nav bar */
  .logo img {
    max-width: 90px; /* Controls the size of the logo */
    height: auto; /* Ensures the aspect ratio is maintained */
}
/* Header & Navigation */
.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar .logo {
  font-family: 'Atyp Display', sans-serif; /* Heading font */
  font-size: 1.5rem;
  color: #F7F4F3; /* Light color for the logo */
}

.navbar .nav-links {
  font-family: 'Atyp Display', sans-serif; /* Heading font */
  list-style-type: none;
  display: flex;
}

.navbar .nav-links li {
  margin-left: 2rem;
}

.navbar .nav-links li a {
  font-family: 'Atyp Display', sans-serif; /* Heading font */
  color: #222222; /* dark color for nav links */
  text-decoration: none;
  font-weight: 700;
}

.navbar .cta-button {
  font-family: 'Atyp Display', sans-serif; /* Heading font */
  font-weight: 700;
  background-color: #F34213; /* Orange */
  color: #F7F4F3;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
}
/* end of Andrew's nav bar */
  /* main page */
  .wrapper {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
  }
